*{
    margin: 0;
    padding: 0;

}
ul,li{
    list-style: none;
}

.main{
    max-height: 2348px;
    width: 1350px;
    float: left;
    // background: lightcoral;
}

//上半部分
.top {
    width: 100%;
    height: 283px;
    // background: red;
    float: left;
}

.top_1 {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    float: left;
}

.top_1_left {
    width: 40%;
    height: 100%;
    margin-left: 66px;
    float: left;
    line-height: 30px;
    /* background: blue; */
    font-size: 11px;
}

.top_1_left span {
    color: #bbb;
}

.top_1_left a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

.top_1_left a:hover {
    color: red;
}

.top_1_right {
    width: 40%;
    height: 70%;
    margin-left: 120px;
    float: left;
    line-height: 23px;
    /* background: blue; */
    font-size: 11px;
    box-sizing: border-box;
    padding-left: 100px;
    margin-top: 4px;
}

.top_1_right li {
    height: 90%;
    width: 102px;
    /* background: green; */
    float: left;
    margin-left: 5px;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    cursor: pointer;
}

.top_1_right li:hover {
    color: red;
}

.li1 {
    border-right: 0px !important;
}

/* 轮播图 */

.top_2 {
    width: 100%;
    height: 118px;
    float: left;
    position: relative;
    /* background: lightcoral; */
    transition: all 1s;
}

.top_2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

}

/* 搜索部分 */

.top_3 {
    width: 100%;
    height: 134px;
    background: #fff;
    float: left;
}

.top_3_l {
    width: 258px;
    height: 100%;
    float: left;
    /* background: orangered; */
    margin-left: 66px;
    box-sizing: border-box;
    padding-top: 20px;
}

.top_3_l img {
    cursor: pointer;
}

.top_3_m {
    width: 610px;
    height: 100%;
    /* background: rgb(75, 78, 235); */
    float: left;
    margin-left: 20px;
}

.top_3_m input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
}

#inp2 {
    width: 80px;
    height: 43px;
    background: #fb1116;
    color: #fff;
    margin-left: -5px;
    border: 0px;
    border-bottom: 2px solid #fb1116;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.ul1 {
    width: 100%;
    height: 30px;
    /* background: #58bc58; */
    float: left;
    box-sizing: border-box;
    padding-left: 40px;
}

.ul1 li {
    width: 66px;
    height: 100%;
    /* background: blueviolet; */
    float: left;
    /* margin-left: 10px; */
    line-height: 30px;
    text-align: center;
    color: #5a5a5a;
    font-size: 11px;
    cursor: pointer;

}

.ul1 li:hover {
    color: red;
}

.ul2 {
    width: 100%;
    height: 30px;
    /* background: #58bc58; */
    float: left;
    box-sizing: border-box;
    /* padding-left: 30px; */
    margin-top: 8px;
}

.ul2 li {
    width: 66px;
    height: 100%;
    float: left;
    /* background: blueviolet; */
    line-height: 30px;
    color: #4b4b4b;
    margin-left: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.ul2 li:hover {
    color: red;
}

.top_3_r {
    width: 260px;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 46px;
}

.top_3_r_l {
    width: 130px;
    height: 100%;
    /* background: blue; */
    float: left;
    position: relative;
}

.top_3_r_l p {
    width: 106px;
    height: 30px;
    background: #fbfbfb;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
}

.top_3_r_l p img {
    margin-left: 10px;
    margin-top: 8px;
}

.top_3_r_l p span {
    font-size: 11px;
    color: #4b4b4b;
}

.top_3_r_l p span:hover {
    color: red;
}

.top_3_r_l .s1 {
    width: 14px;
    height: 14px;
    background: #fb1116;
    border-radius: 50%;
    float: left;
    font-size: 11px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    position: absolute;
    left: 8px;
    top: 30px;
}


.top_3_r_r {
    width: 130px;
    height: 100%;
    /* background: rgb(231, 12, 140); */
    float: left;
}

.top_3_r_r img {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

.top_3_r_r p {
    width: 100%;
    height: 30px;
    float: left;
    /* background: green; */
    font-size: 11px;
    box-sizing: border-box;
    padding-left: 43px;
    line-height: 30px;
}


//中间部分

.center{
    width: 100%;
    max-height: 100000px;
    // background: purple;
    float: left;
    border-top: 3px solid #fb1116;
}
.center_l{
    width: 200px;
    // height: 100%;
    background: #fff;
    float: left;

}

.center_l_t{
    width: 100%;
    height: 40px;
    float: left;
    // background: blueviolet;
    line-height: 40px;
    font-size: 11px;
    color: #888888;
}
.shou{
    margin-right: 5px;
    cursor: pointer;
}
.shou:hover{
    color: #fb1116;
}
.ling{
    margin-left: 10px;
    cursor: pointer;
}
.ling:hover{
    color: #fb1116;
}

.center_l_m{
    width: 1005px;
    height: 40px;
    float: left;
    // background: peru;
    line-height: 40px;
    color: #77b155;
    font-size: 23px;
    border-bottom: 1px solid #77b155;
}
.center_l_f{
    width: 100%;
    // height: 1186px;
    float: left;
    // background: lawngreen;
    position: relative;
}
.ul3{
    width: 100%;
    height: 100%;
    // background: lawngreen;
    float: left;
}
.ul3 li{
    width: 100%;
    // height: 190px;
    float: left;
    // background: blue;
    margin-top: 2px;
    // line-height: 40px;
}

.ul3 li dl{
    width: 100%;
    // height: 150px;
    float: left;
}
.ul3 li dl dt{
    width: 100%;
    height: 30px;
    float: left;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.ul3 li dl dt img{
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 16px;
}
.ul3 li dl dt p{
    width: 160px;
    height: 20px;
    float: left;
    // background: palevioletred;
    margin-top: 10px;
}

.ul3 li dl dd{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    float: left;
    // background: yellow;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 11px;
    color: #666;
    display: block;
    cursor: pointer;
}
.ul3 li dl dd:hover{
    color: #fb1116;
}
.quan{
    width: 100%;
    height: 25px;
    float: left;
    position: absolute;
    top: -106px;
    left: 103px;
    background: #fb1116;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    color: #fff;
}


.center_r{
    width: 1139px;
    // height: 100%;
    // background: green;
    float: left;
}
.center_r_t{
    width: 100%;
    height: 226px;
    background: #fff;
    float: left;
    position: relative;
}
.ul4{
    width: 100%;
    height: 36px;
    float: left;
    background: #fff;
    margin-bottom: 20px;
}
.ul4 li{
    width: 125px;
    height: 100%;
    float: left;
    background: #efefef;
    margin-right: 1px;
    line-height: 32px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
    color: #444;
    cursor: pointer;
}

.ul4 li img{
    margin-left: 40px;
    // margin-top: 10px;
}

.d4{
    width: 100%;
    height: 40px;
    float: left;
    // background: pink;
    border-bottom: 1px dashed #ccc;
}
.d4 dt{
    width: 200px;
    height: 100%;
    float: left;
    // background: red;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color: #777;
    font-weight: 600;

}
.d4 dd{
    width: 185px;
    height: 100%;
    float: left;
    margin-left: 2px;
    // background: yellow;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color: #333;
    cursor: pointer;
}
.d4 dd:hover{
    color: lawngreen;
}
.jia{
    width: 100%;
    height: 40px;
    float: left;
    // background: blue;
    // line-height: 40px;
    margin-top: 5px;
    text-align: center;
    position: relative;
}
.jia span{
    cursor: pointer;
    font-size: 12px;
    color: #999;
}

.jia span:hover{
    color: #fb1116;
}
.jia img{
    position: absolute;
    left: 560px;
    top: 23px;
}

.list_1{
    width: 100%;
    height: 200px;
    float: left;
    // background: yellow;
    position: absolute;
    top: 36px;
    left: 0;
    display: none;
}
.list_1 ul{
    width: 100%;
    height: 100%;
    background: orange;
    float: left;

}
.list_1 ul li{
    width: 100%;
    height: 32px;
    float: left;
    // background: green;
    margin-top: 1px;
}
.list_1 ul li dl{
    width: 100%;
    height: 100%;
    // background: purple;
    float: left;
    border-bottom: 1px dashed #ccc;
}
.list_1 ul li dl dt{
    height: 100%;
    width: 220px;
    // background:pink;
    float: left;
    line-height: 32px;
    font-size: 11px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    
}

.list_1 ul li dl dt img{
    margin-left: 125px;
}
.list_1 ul li dl dd{
    height: 100%;
    width: 150px;
    // background: lightgreen;
    margin-left: 2px;
    float: left;
    line-height: 32px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
}
.list_1 ul li dl dd:hover{
    color: #fb1116;
}





.center_r_m{
    width: 100%;
    height: 40px;
    float: left;
    background: #e7e7e7;
    margin-top: 20px;
}
.ul5{
    width: 32%;
    height: 100%;
    float: left;
    // background: #e7e7e7;
    // background: yellow;
}
.ul5 li{
    width: 70px;
    height: 100%;
    float: left;
    // background: palevioletred;
    margin-left: 1px;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color:#555;
}
.li6{
    background: #dddddd !important;
}

.center_r_f{
    width: 100%;
    // height: 980px;
    float: left;
    // background: orange;
    position: relative;
}

.ul6{
    width: 100%;
    height: 95%;
    float: left;
    // background: orange;
}
.ul6 li{
    width: 24%;
    height: 46%;
    float: left;
    // background: green;
    margin-top: 5px;
    margin-left: 5px;
    border:  1px solid #ccc;
    position: relative;
}
.ul6 li .tu{
    width: 273px;
    height: 260px;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}
.ul6 li p{
    width: 100%;
    height: 35px;
    float: left;
    // background: yellow;
    margin-top: 1px;
    line-height: 35px;

}
.price{
    color: #fb1116;
    font-weight: 600;
    font-size: 20px;

}

.title span{
    font-size: 11px;
    margin-left: 63px;
    cursor: pointer;
}

.tubiao{
    height: 17px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: 86px;
}
.kind{
    color: #fb1116;
    font-size: 11px;
    margin-right: 20px;
}
.address{
    color: #af52ef;
    font-size: 11px;
    margin-right: 20px;
}
.courier{
    color: #af52ef;
    font-size: 11px;
    
}

.d5{
    width: 100%;
    height: 42px;
    // background: purple;
    float: left;
}
.d5 div{
    width: 49%;
    height: 100%;
    // background: lemonchiffon;
    float: left;
    margin-left: 1px;
}

.d5_r{
    height: 60% !important;
    // line-height: 42px;
    margin-top: 10px;
    line-height: 33px;
    font-size: 11px;
    color: #fb1116;
    box-sizing: border-box;
    padding-left: 25px;
    border: 1px solid #ccc;

}
.d5_r img{
    margin-top: 5px;
    cursor: pointer;
}
.addshop{
    cursor: pointer;
}

.cut{
    width: 19px;
    height: 19px;
    float: left;
    margin-top: 13px;
    // font-size: 16px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.num{
    float: left;
    margin-top: 13px;
    background: #fff;
    width: 65px;
}
.add{
    width: 19px;
    height: 19px;
    float: left;
    margin-top: 13px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.p15{
    width: 30px;
    height: 20px;
    float: left;
    background: lawngreen;
}

.geng{
    width: 35%;
    height: 42px;
    float: left;
    // background: green;
    // margin-top: 5px;
    margin-left: 364px;
    border: 1px solid #ccc;
    background: #f5f7f6;
    text-align: center;
    line-height: 42px;
    font-size: 12px;
    color: #ccc;
    // position: absolute;
    // left: 364px;
    // bottom: 15;
    cursor: pointer;
    user-select: none;
}
.syy{
    width: 54px;
    height: 42px;
    background: #f5f7f6;
    float: left;
    line-height: 42px;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    margin-left: 507px;
}
.xyy{
    width: 54px;
    height: 42px;
    background: #f5f7f6;
    float: left;
    line-height: 42px;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
}






















//以下是foot

.foot{
    width: 100%;
    height: 800px;
    /* background: purple; */
    float: left;
}

.foot_1{
    width: 100%;
    height: 184px;
    float: left;
    background: #fff;
    border-top: 1px solid #ccc;
}

.foot_1 ul{
    width: 100%;
    height: 106px;
    float: left;
    background: #dde0dc;
    margin-top: 38px;
}
.foot_1 ul li{
    width: 25%;
    height: 100%;
    /* background: orange; */
    float: left;
    box-sizing: border-box;
    padding-left: 66px;
}


.foot_1 ul li .d2{
    width: 64px;
    height: 64px;
    /* background: blueviolet; */
    float: left;
    margin-top: 20px;
}

.foot_1 ul li .d3{
    width: 188px;
    height: 64px;
    /* background: blue; */
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 5px;
}
.foot_1 ul li .d3 .p9{
    font-weight: 600;
    font-size: 15px;
    color: #3e3e3e;
}
.foot_1 ul li .d3 .p10{
    font-size: 12px;
    color: #3e3e3e;
    margin-top: 8px;
}

.foot_2{
    width: 100%;
    height: 226px;
    background: #fff;
    float: left;
    box-sizing: border-box;
    padding-left: 66px;
}
.foot_2_l{
    width: 890px;
    height: 224px;
    border: 1px solid #d2d2d2;
    float: left;
    /* background: blue; */
}

.foot_2_l_l{
    width: 220px;
    height: 184px;
    float: left;
    /* background: orange; */
    margin-top: 20px;
    margin-left: 20px;
}
.foot_2_l_l h3{
    width: 100%;
    height: 40px;
    /* background: gray; */
    line-height: 40px;
    float: left;
}
.foot_2_l_l div{
    width: 100%;
    height: 144px;
    float: left;
  
}
.foot_2_l_l div img{
    width: 100%;
    height: 100%;
}

.foot_2_l_r{
    width: 620px;
    height: 150px;
    float: left;
    /* background:lightcoral; */
    margin-top: 60px;
    margin-left: 14px;
}

.foot_2_l_r div{
    width: 100%;
    height: 49px;
    float: left;
    /* background: blueviolet; */
    margin-bottom: 1px;
}

.foot_2_l_r div p{
    font-size: 14px;
    width: 100%;
    height: 50%;
    line-height: 25px;
    cursor: pointer;
}
.foot_2_l_r div p:hover{
    color: orange;
}
.p11{
    margin-top: -5px;
}
.p12{
    font-weight: 700;
}



.foot_2_r{
    width: 275px;
    height: 226px;
    float: left;
    /* background: orange; */
    margin-left: 18px;
}
.foot_2_r ul{
    width: 100%;
    height: 100%;
    float: left;
}
.foot_2_r ul li{
    width: 100%;
    height: 54px;
    /* background: red; */
    margin-bottom: 3px;
    
}
.foot_2_r ul li img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.foot_3{
    width: 100%;
    height: 233px;
    float: left;
    background: #fff;

}

.foot_3_l{
    width: 892px;
    height: 200px;
    float: left;
    /* background: orange; */
    margin-left: 66px;
    margin-top: 17px;
}
.foot_3_l ul{
    width: 100%;
    height: 100%;
    /* background: orange; */
    float: left;
}
.foot_3_l ul li{
    width: 24.7%;
    height: 100%;
    float: left;
    margin-left: 2px;
    /* background: green; */
}
.foot_3_l ul li dl{
    width: 80%;
    height: 100%;
    float: left;
    /* background: blue; */
    margin-left: 20px;
}

.foot_3_l ul li dl dt{
    width: 100%;
    height: 30px;
    /* background: yellow; */
    line-height: 30px;
    font-size: 12px;
    color: #222;
    font-weight: 700;
}
.foot_3_l ul li dl dd{
    width: 80%;
    height: 30px;
    float: left;
    /* background: purple; */
    line-height: 30px;
    margin-top: 2px;
    margin-left: 32px;
    font-size: 11px;
    color: #4b4b4b;
    cursor: pointer;
}

.foot_3_l ul li dl dd:hover{
    color: orange;
}

.foot_3_r{
    width: 275px;
    height: 200px;
    float: left;
    /* background: green; */
    margin-top: 17px;
    margin-left: 18px;
}

.foot_3_r div{
    width: 49%;
    height: 100%;
    float: left;
    /* background:blueviolet; */
    margin-left: 2px;
}

.foot_3_r div p{
    width: 100%;
    height: 30px;
    /* background: lightgreen; */
    float: left;
    margin-top: 25px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.foot_3_r div img{
    margin-top: 15px;
    margin-left: 20px;
}

.foot_4{
    width: 100%;
    height: 156px;
    background: #fdfdfd;
    /* background: purple; */
    float: left;
    border-top: 1px solid #ccc;
}

.foot_4_all{
    width: 920px;
    height: 100%;
    /* background: #412fe7; */
    float: left;
    margin-left: 206px;
}
.foot_4_all div{
    width: 100%;
    height: 46px;
    float: left;
    /* background: green; */
    margin-bottom: 2px;
}

.foot_4_all_t ul{
    width: 80%;
    height: 100%;
    /* background: purple; */
    margin-left: 92px;
}
.foot_4_all_t ul li{
    width: 12%;
    height: 16px;
    /* background: lawngreen; */
    float: left;
    line-height: 16px;
    margin-left: 2px;
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
.foot_4_all_t ul li:hover{
    color: orange;
}
.foot_4_all_t ul .li5{
    border:0px !important;
}

.foot_4_all_m {
    box-sizing: border-box;
    padding-left: 50px;
    height: 49px !important;
}

.foot_4_all_m a{
    width: 110px;
    height: 44px;
    /* border: 1px solid #f8a018; */
    float: left;
    margin-left: 12px;
    cursor: pointer;
    margin-top: 2px;
}
.foot_4_all_m a img{
    width: 100%;
    height: 100%;
}
.a1{
    width: 42px !important;
    height: 44px !important;
}

.foot_4_all_f p{
    width: 100%;
    height: 20px;
    float: left;
    /* background: lawngreen; */
    /* margin-top: 2px; */
    text-align: center;
    color: #c3a699;
   
}

.foot_4_all_f .p13{
    font-size: 9px;
  
}

.foot_4_all_f .p14{
    font-size: 12px;
   
}
.foot_4_all_f .p14 span{
    color: #4b4b4b;
    cursor: pointer;
}
.foot_4_all_f .p14 span:hover{
    color: #fb1116;
}






