*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
/* #all{
    width: 1333px;
    height: 3062px;
    /* background: lightgreen; 
} */

/* 上部分 */
/* .top{
    width: 100%;
    height: 1202px;
    /* background: red; 
    float: left;
} */
/* 导航栏 */
.top_1{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    float: left;
}
.top_1_left{
    width: 40%;
    height: 100%;
    margin-left: 66px;
    float: left;
    line-height: 30px;
    /* background: blue; */
    font-size: 11px;
}
.top_1_left span{
    color: #bbb;
}
.top_1_left a{
    list-style: none;
    text-decoration: none;
    color: #333;
}
.top_1_left a:hover{
    color: red;
}

.top_1_right{
    width: 40%;
    height: 70%;
    margin-left: 120px;
    float: left;
    line-height: 23px;
    /* background: blue; */
    font-size: 11px;
    box-sizing: border-box;
    padding-left: 100px;
    margin-top: 4px;
}
.top_1_right li{
    height: 90%;
    width: 102px;
    /* background: green; */
    float: left;
    margin-left: 5px;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    cursor: pointer;
}
.top_1_right li:hover{
    color: red;
}
.li1{
    border-right:0px !important;
}
/* 轮播图 */
.top_2{
    width: 100%;
    height: 118px;
    float: left;
    position: relative;
    /* background: lightcoral; */
    transition: all 1s;
}
.top_2 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
}
/* 搜索部分 */
.top_3{
    width: 100%;
    height: 134px;
    background: #fff;
    float: left;
}

.top_3_l{
    width: 258px;
    height: 100%;
    float: left;
    /* background: orangered; */
    margin-left: 66px;
    box-sizing: border-box;
    padding-top: 20px;
}
.top_3_l img{
    cursor: pointer;
}
.top_3_m{
    width: 610px;
    height: 100%;
    /* background: rgb(75, 78, 235); */
    float: left;
    margin-left: 20px;
}
.top_3_m input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
}
#inp2{
    width: 80px;
    height: 43px;
    background: #fb1116;
    color: #fff;
    margin-left: -5px;
    border: 0px;
    border-bottom: 2px solid #fb1116;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.ul1{
    width: 100%;
    height: 30px;
    /* background: #58bc58; */
    float: left;
    box-sizing: border-box;
    padding-left: 40px;
}

.ul1 li{
    width: 66px;
    height: 100%;
    /* background: blueviolet; */
    float: left;
    /* margin-left: 10px; */
    line-height: 30px;
    text-align: center;
    color: #5a5a5a;
    font-size: 11px;
    cursor: pointer;
   
}
.ul1 li:hover{
    color: red;
}

.ul2{
    width: 100%;
    height: 30px;
    /* background: #58bc58; */
    float: left;
    box-sizing: border-box;
    /* padding-left: 30px; */
    margin-top: 8px;
}

.ul2 li{
    width: 66px;
    height: 100%;
    float: left;
    /* background: blueviolet; */
    line-height: 30px;
    color: #4b4b4b;
    margin-left: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.ul2 li:hover{
    color: red;
}

.top_3_r{
    width: 260px;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 46px;
}
.top_3_r_l{
    width: 130px;
    height: 100%;
    /* background: blue; */
    float: left;
    position: relative;
}

.top_3_r_l p{
    width: 106px;
    height: 30px;
    background: #fbfbfb;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
}
.top_3_r_l p img{
    margin-left: 10px;
    margin-top: 8px;
}
.top_3_r_l p span{
    font-size: 11px;
    color: #4b4b4b;
}

.top_3_r_l p span:hover{
    color: red;
}

.top_3_r_l .s1{
    width: 14px;
    height: 14px;
    background: #fb1116;
    border-radius: 50%;
    float: left;
    font-size: 11px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    position: absolute;
    left: 8px;
    top: 30px;
}


.top_3_r_r{
    width: 130px;
    height: 100%;
    /* background: rgb(231, 12, 140); */
    float: left;
}
.top_3_r_r img{
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}
.top_3_r_r p{
    width: 100%;
    height: 30px;
    float: left;
    /* background: green; */
    font-size: 11px;
    box-sizing: border-box;
    padding-left: 43px;
    line-height: 30px;
}
